<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sarya
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/bootstrap4.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/media.css")
        link(href="./images/SaryaLogo-pdf.png" rel="icon" type="image/gif" sizes="16x16")
    body
        section(class="header text-right")
            .nav
                .container
                    .row
                        div(class="col-md-6 button")
                            a(href="#") أنضم الينا
                        div(class="col-md-6 site-logo d-flex text-left")
                            h6 ساريا للخدمات التطويرية
                            img(src=" images/SaryaLogo-pdf.png", width="50px") 
            .body-header
                .container
                    .row
                        div(class="col-md-6 right-body-header")
                            h6 اهلا بك في ساريا.
                            h4 نضمن لك زيادة الارباح
                            h6 بتقديم خدمات تسويقية متكاملة
                            a(href="https://api.whatsapp.com/message/LACBR47PQTKJJ1") احصل على خصم 40%
                        div(class="col-md-6 left-body-header")
                            div(class="one")
                            div(class="two")
        section(class="servec text-center")
            .up-title
                div(class="title")
                div(class="title-1")
                    h4 خدماتنا
            div(class="body-servec")
                .container
                    .row
                        div(class="col-md-4")
                            img(src="images/digital-campaign.svg", alt="", srcset="", width="120px")
                            h4 سوشيال ميديا
                            p إدارة تسويق عبر منصات السوشيال ميديا
                        div(class="col-md-4")
                            img(src="images/film-editing.svg", alt="", srcset="", width="120px")
                            h4  انتاج فيديوهات
                            p انتاج فيديوهات ذات جودة عالية
                        div(class="col-md-4")
                            img(src="images/design.svg", alt="", srcset="", width="120px")
                            h4 تصاميم ابداعية
                            p تصاميم إبداعية تضمن لك نتائج تفاعلية
        section(class="what")
            .what-title
                h4 ماذا قالو عنا
            div(class="body-what")
                div(class="container ")
                    div(class="owl-carousel owl-theme text-right d-flex", dir="ltr")
                        div(class="item i-one")
                            div(class="ig text-right")
                                img(src="images/Group 7.svg", alt="", srcset="", width="55px")
                            div(class="container-item")
                                
                                div(class="body-p")
                                    p كان عطائهم اكثربكثير مما توقعته منهم في التخطيط والتنفيذ والنتائج سعدت بالتعامل معهم
                            div(class="menu-item")
                                img(src="images/Bara.jpg", width="70px")
                                h6 د.البراء المهدي@
                                span رئيسقسم الاسنان مجمع الذكير الطبي
                            
                        div(class="item i-two")
                            div(class="ig text-right")
                                img(src="images/Group 7.svg", alt="", srcset="", width="55px")
                            div(class="container-item")
                                
                                div(class="body-p")
                                    p فريق عمل ساريا مميز.. صادق .. يؤمن بالشغف و الرساله و يدعم المنشاءة لان تظهرافضل ما لديها استفدت من النقاط اللي وجهوني لها،،فتحوا لي افاق أوسع. حفزوا حبي و شغفي للعمل و أعادوا دفه مسار النجاح الي الطريق الصحيح ممتنه لهم و لوعيهم و لاحترافيتهم
                            div(class="menu-item")
                                img(src="images/Shahd.jpg", width="70px")
                                h6 أ.شهد مراد@
                                span مدير عام مركز شروق الشمس للعلاج الطبيعي التأهيلي
                        div(class="item i-three")
                            div(class="ig text-right")
                                img(src="images/Group 7.svg", alt="", srcset="", width="55px")
                            div(class="container-item")
                                
                                div(class="body-p")
                                    p مع ساريا حققنا اعلى الايرادات بخطة تسويقية متميزة وحديثة وذات فاعلية ومواكبة لحياة العمل كل الشكر
                            div(class="menu-item")
                                img(src="images/Alaa.png", width="70px")
                                h6 أ.الاء البشير@
                                span مديرة التسويق عيادات مجمع روضة الاقصى الطبي
        section(class="click")
            .container
                a(href="https://api.whatsapp.com/message/LACBR47PQTKJJ1") أحصل على خصم 40%
        
        
        include footer/index.pug
                



        

        script(src="js/jquery-3.3.1.min.js")
        script(src="js/bootstrap4.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/main.js")