<!DOCTYPE html>
html(lang="en" )
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title footer
    link(rel="stylesheet", href="css/footer.css")
  body
    footer(class="text-right")
      .upper-footer
        .container
          .holder
            .address
              p  المملكة العربية
                | السعودية .. الرياض
                | 11322 ، الدائري
                | الشرقي ابراج غرناطة
                | للاعمال البرج أ4
                | الطابق 12
            .mobile
              ul
                li
                  h4 الجوال  : 
                    a(href="#") +966115118118
                li
                  h4 الواتس اب  : 
                    a(href="#") +966582202548
                li
                  h4 الموقع  :
                    a(href="http://www.saryaksa.com/en") www.saryaksa.com
                li
                  h4 الايميل  : 
                    a(href="http://www.saryaksa.com/en") info@saryaksa.com
            .subscribe
              h4 اشترك فيساريا الان عبرالايميل
              p يمكنك الان متابعة اخر عروضساريا عبرالايميل
              .sub
                input(type="text" placeholder="عنوان البريد")
                button أشترك
            div(class="logo text-center")
              img(src="images/SaryaLogo-pdf.png", width="70px")
      .down-footer
        .container
          .holder
            .social
              span g
              span y
              span f
            .signiture
              span © Saryaksa.com 2020
              p Designed By Jimmy_dev@yahoo.com & Programming by : mostaql.com/u/Walid_mohamed_1

